<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112109066997-ll6dp7vtd92857n8hrnlvo68g89harsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112109066997-ll6dp7vtd92857n8hrnlvo68g89harsj</string>
	<key>API_KEY</key>
	<string>AIzaSyC9edWmMY9mYoUaoPONin5uNTAPrYOt9wg</string>
	<key>GCM_SENDER_ID</key>
	<string>112109066997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastfix</string>
	<key>PROJECT_ID</key>
	<string>fastfix-a974b</string>
	<key>STORAGE_BUCKET</key>
	<string>fastfix-a974b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112109066997:ios:f2bd79dd807484d0bd83bc</string>
</dict>
</plist>